@font-face {
    font-family: 'Monserrat';
    src: url('./assets/font/Montserrat-VariableFont_wght.ttf');
}
body {
    max-width: 1400px; 
    margin: auto;
}

* {
    font-family: "Monserrat", sans-serif;
}